# Configuration created by Apache Sling JCR Installer
sling.max.record.requests=I"20"
sling.serverinfo=""
sling.filter.compat.mode=B"false"
sling.store.pattern.requests=[""]
sling.additional.response.headers=["X-Content-Type-Options\=nosniff"]
sling.max.calls=I"10000"
sling.trace.allow=B"false"
sling.max.inclusions=I"50"
